

body h1 {
    font-family: "Montserrat-Black" !important;
    font-size: 3rem !important;
    line-height: 1.5 !important;
    font-weight: 700 !important;
    color: #ffffff;
}

#title {
    background-color: #ff4c68;
}

div.container-fluid {
    padding: 3% 15% !Important;
}
